.listsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.main {
    display: flex;
}

.main label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 10px 0px 0px;
    font-size: 17px;
}

.rightColumn {
    width: 50vw;
}

.leftColumn {
    width: 15vw;
}

.leftColumn h3 {
    margin: 15px 0 0 15px;
}